@model NailManagement.Models.PaymentIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Payments Report</h1>

<div class="d-flex justify-content-center">
    <form method="post" asp-action="Index">
        <div class="row mb-3">
            <div class="col-md-4">
                <label asp-for="DateFrom">Date From:</label>
                <input asp-for="DateFrom" type="date" id="dateFrom" name="dateFrom" class="form-control" />
            </div>
            <div class="col-md-4">
                <label asp-for="DateTo">Date To:</label>
                <input asp-for="DateTo" type="date" id="dateTo" name="dateTo" class="form-control" />
            </div>
            <div class="col-md-4 d-flex align-items-end">
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-md-3">
        <ul>
            <li>
                <a asp-controller="Payments" asp-action="Index">Payments</a>
            </li>
            <li>
                <a asp-controller="Services" asp-action="Report">Services</a>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>Payment ID</th>
                    <th>Customer Name</th>
                    <th>Technician Name</th>
                    <th>Service</th>
                    <th>Amount</th>
                    <th>Payment Date</th>
                    <th>Payment Method</th>
                    <th>Tip</th>
                </tr>
            </thead>
            @if (Model.Payments.Count != 0)
            {
            <tbody>
                @foreach (var payment in Model.Payments)
                {
                    <tr>
                        <td>@payment.PaymentId</td>
                        <td>@payment.CustomerName</td>
                        <td>@payment.TechnicianName</td>
                        <td>@payment.Service</td>
                        <td>$@payment.Amount</td>
                        <td>@payment.PaymentDate.ToString("MM/dd/yyyy")</td>
                        <td>@payment.PaymentMethod</td>
                        <td>@payment.Tip</td>
                    </tr>
                }
            </tbody>
                <tfoot class="fw-bold">
                    <tr>
                    <td colspan="4">Total Customers: @Model.Payments.Count</td>
                        <td>Total Amount: @Model.Payments.Sum(p => p.Amount).ToString("C", System.Globalization.CultureInfo.GetCultureInfo("en-US"))</td>
                    <td colspan="2"></td>
                        <td>Total Tip: @Model.Payments.Sum(p => p.Tip).ToString("C", System.Globalization.CultureInfo.GetCultureInfo("en-US"))</td>
                </tr>
                </tfoot>
            } else
            {
                <p>There are nothing on the list </p>    
            }
        </table>
    </div>
</div>